In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

In [ ]:
%cd '/content/drive/MyDrive/ML-DL/CodeGym'
!ls

/content/drive/MyDrive/ML-DL/CodeGym
GDPlist.csv				  Untitled11.ipynb  Untitled5.ipynb
house_price_Dống-Da_Hà-Nội_subdata.csv	  Untitled12.ipynb  Untitled6.ipynb
OnlineRetail.csv			  Untitled1.ipynb   Untitled7.ipynb
shopeep_koreantop_clothing_shop_data.csv  Untitled2.ipynb   Untitled8.ipynb
Untitled0.ipynb				  Untitled3.ipynb   Untitled9.ipynb
Untitled10.ipynb			  Untitled4.ipynb

In [ ]:
df = pd.read_csv('GDPlist.csv', encoding="latin1")
df.tail(10)

                   Country      Continent  GDP (millions of US$)
115                Ukraine         Europe                 164960
116   United Arab Emirates           Asia                 360136
117         United Kingdom         Europe                2417570
118          United States  North America               15094025
119                Uruguay  South America                  46872
120             Uzbekistan           Asia                  45353
121              Venezuela  South America                 315841
122                Vietnam           Asia                 122722
123                  Yemen         Africa                  33675
124                 Zambia         Africa                  19206

In [ ]:
t1, p1 = stats.ttest_1samp(df['GDP (millions of US$)'], 500000, alternative='two-sided')
p1

0.7077493494055246

In [ ]:
if p1 >= 0.05:
  print('True')
else:
  print('False')

True

In [ ]:
df_EU = df.loc[(df['Continent']== 'Europe')]
df_Asia = df.loc[(df['Continent']== 'Asia')]
df_NA = df.loc[(df['Continent']== 'North America')]

In [ ]:
t2, p2 = stats.ttest_ind(df_EU['GDP (millions of US$)'], df_Asia['GDP (millions of US$)'], equal_var=False, alternative='greater')
p2

0.7093061297701153

In [ ]:
if p2 >= 0.05:
  print('True')
else:
  print('False')

True

In [ ]:
t3, p3 = stats.ttest_ind(df_EU['GDP (millions of US$)'], df_NA['GDP (millions of US$)'], equal_var=False, alternative='two-sided')
p3

0.4215190016365117

In [ ]:
if p3 >= 0.05:
  print('True')
else:
  print('False')

True